In [1]:
"Hello , welcome to Walchand Instittue of technology"

'Hello , welcome to Walchand Instittue of technology'

In [2]:
print('Hello')
print('Arpita kadtane')

Hello
Arpita kadtane

In [3]:
len('Hello I am Arpita')

17

In [4]:
#find the length of string
Str= "Hello my name is arpita kadtane"
Str

'Hello my name is arpita kadtane'

In [5]:
len(Str)

31

In [7]:
Str[4]

'o'

In [8]:
Str[8]

' '

In [9]:
Str[1:]

'ello my name is arpita kadtane'

In [10]:
Str[5:]

' my name is arpita kadtane'

In [12]:
#concatinating string
Str + ' I am Pursuing Computer Science Engineering at Walchand Institute of Technology'

'Hello my name is arpita kadtane I am Pursuing Computer Science Engineering at Walchand Institute of Technology'

In [13]:
Str[::-1]

'enatdak atipra si eman ym olleH'

In [14]:
Str[:-2]

'Hello my name is arpita kadta'

In [15]:
#Upper case
Str.upper()

'HELLO MY NAME IS ARPITA KADTANE'

In [16]:
#lower case
Str.lower()

'hello my name is arpita kadtane'

In [18]:
#split method whole sentences in to word
Str.split()

['Hello', 'my', 'name', 'is', 'arpita', 'kadtane']

In [21]:
print('Enter name here {} then also {}' .format ('Arpita','Kadtane'))

Enter name here Arpita then also Kadtane

In [25]:
#inserted objects can be assigned keywords
print('First Object: {a}, Second Object: {b}. Third Object: {c}'.format(a=1,b='Two',c=30.2))

First Object: 1, Second Object: Two. Third Object: 30.2

In [26]:
#Assign a list to an variable named my_list
my_list=[1,2,3,4,5,6]
my_list

[1, 2, 3, 4, 5, 6]

In [30]:
my_list.append(7)

In [31]:
my_list

[1, 2, 3, 4, 5, 6, 7]

In [32]:
my_list=['Edunet',3,10,2,'A',32,3]
my_list

['Edunet', 3, 10, 2, 'A', 32, 3]

In [33]:
len(my_list)

7

In [36]:
my_list

['Edunet', 3, 10, 2, 'A', 32, 3]

In [37]:
my_list[1]

3

In [38]:
my_list[5]

32

In [40]:
my_list[1:]

[3, 10, 2, 'A', 32, 3]

In [43]:
my_list +['new item','second item','third item']

['Edunet', 3, 10, 2, 'A', 32, 3, 'new item', 'second item', 'third item']

In [46]:
my_list.extend('A')

In [47]:
my_list

['Edunet', 3, 10, 2, 'A', 32, 3, 'A']

In [48]:
#Reassign
my_list=my_list+['Add new item at last']

In [49]:
my_list

['Edunet', 3, 10, 2, 'A', 32, 3, 'A', 'Add new item at last']

In [50]:
my_list.pop()

'Add new item at last'

In [51]:
my_list

['Edunet', 3, 10, 2, 'A', 32, 3, 'A']

In [52]:
my_list.reverse()

In [54]:
my_list

['A', 3, 32, 'A', 2, 10, 3, 'Edunet']

In [59]:
my_list.remove(3)

In [60]:
my_list

['A', 32, 'A', 2, 10, 3, 'Edunet']

In [61]:
first=['good morning']
first.sort()

In [62]:
first

['good morning']

In [68]:
#make a dictionary with {} and : to signify a key and value
dict= {'Arpita':'1', 'Sanika':'2', 'Ankita':'3','Priyanka':'4'}
dict

{'Arpita': '1', 'Sanika': '2', 'Ankita': '3', 'Priyanka': '4'}

In [69]:
my_dict={'key1':123,'key2':[1,2,3], 'key3':['edu','net','foundation']}
my_dict

{'key1': 123, 'key2': [1, 2, 3], 'key3': ['edu', 'net', 'foundation']}

In [70]:
my_dict.get('key2')

[1, 2, 3]

In [73]:
my_dict.get('key2')[-2]

2

In [74]:
#can then even call methods on that value
my_dict['key3'][0].upper()

'EDU'

In [75]:
my_dict['key1']

123

In [79]:
my_dict['key1']=my_dict['key1']+123

In [80]:
my_dict

{'key1': 369, 'key2': [1, 2, 3], 'key3': ['edu', 'net', 'foundation']}

In [83]:
#cretae a tuple
tuple=(1,2,3,4,5,'Arpita','Kadtane')
tuple

(1, 2, 3, 4, 5, 'Arpita', 'Kadtane')

In [87]:
len(tuple)

7

In [88]:
tuple[0]

1

In [89]:
tuple[-1]

'Kadtane'

In [92]:
tuple1=('hi','arpita','here')

In [93]:
min(tuple1)

'arpita'

In [94]:
max(tuple1)

'hi'

In [95]:
{1,2,3,4}

{1, 2, 3, 4}

In [96]:
{1,1,3,4,5,5,6,7,3}

{1, 3, 4, 5, 6, 7}

In [98]:
type({1,2,3,4})

set

In [99]:
set=set()

In [101]:
#add method
set.add(9)

In [102]:
set

{9}

In [103]:
set.add(0)
set

{0, 9}

In [105]:
set.add(1)
set

{0, 1, 9}

In [106]:
if True:
    print("yes it was true")

yes it was true

In [109]:
x=False

if x:
    print('yes it was true.')
else:
    print('I will be printed in any case where {} is not true'.format('x'))

I will be printed in any case where x is not true

In [113]:
loc= 'Maharastra'
if loc=='solapur':
    print('welcome to the maharastra')
elif loc =='Maharastra':
    print('welcome to maharastra')
else:
    print('where are you?')

welcome to maharastra

In [2]:
#greatest no among three numbers

a=100
b=200
c=300

if a>b and a>c:
    print('a is greater')
elif b>a and b>c:
    print('b is greater')
else:
    print('c is greater')

c is greater

def calculate_fd_interest(amount, years=1):
    first_limit = 10_00_000  
    second_limit = 15_00_000 
    remaining_limit = amount - (first_limit + second_limit)
    
    interest_first = first_limit * 0.10 * years  
    interest_second = second_limit * 0.15 * years 
    interest_remaining = remaining_limit * 0.18 * years  
    
    total_interest = interest_first + interest_second + interest_remaining
    
    return total_interest

# Total FD amount
fd_amount = 65_00_000
interest_earned = calculate_fd_interest(fd_amount, 1)  
print(f"Total interest earned in 1 year on ₹{fd_amount}: ₹{interest_earned}")

In [10]:
## prime number
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
num = int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

Enter a number:  4

4 is not a prime number

In [15]:
def armstrong(n):
    order = len(str(n))  
    sum_digits = sum(int(digit) ** order for digit in str(n)) 
    return sum_digits == n

num = int(input("Enter a number: "))
if armstrong(num):
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Enter a number:  153

153 is an Armstrong number

In [36]:
num= int(input("Enter the numbers of rows"))
n=1
for i in range(0,num):
    for k in range(0,num-i+1):
        print(end=" ")
    for k in range(0,i+1):
        print(n,end=" ")
        n+=1
    print()

Enter the numbers of rows 3

    1
   2 3
  4 5 6

In [40]:
num= int(input("Enter the numbers of rows"))
n=1
for i in range(0,num):
    for k in range(num,0-i+1):
        print(end=" ")
    for k in range(0,i+1):
        print(n,end=" ")
        n+=1
    print()

Enter the numbers of rows 3

1
2 3
4 5 6

In [50]:
#reverse the 'Walchand Institute of Technology, solapur, maharastra' string even part of string odd part off string, split, find vowels,count no of char

Str='Walchand Institute of Technology, solapur, maharastra'
reverse=Str[::-1]
print(reverse)
Str.split()

artsaraham ,rupalos ,ygolonhceT fo etutitsnI dnahclaW

['Walchand', 'Institute', 'of', 'Technology,', 'solapur,', 'maharastra']

In [52]:
Str = "Walchand Institute of Technology, solapur, maharastra"
reverse = Str[::-1]
print("Reversed String:", reverse)

even_reverse = "".join([Str[i] if i % 2 != 0 else Str[i][::-1] for i in range(len(Str))])
print("Even Part Reversed:", even_reverse)

odd_reverse = "".join([Str[i] if i % 2 == 0 else Str[i][::-1] for i in range(len(Str))])
print("Odd Part Reversed:", odd_reverse)

split_words = Str.split()
print("Split Words:", split_words)

vowels = "AEIOUaeiou"
found_vowels = [char for char in Str if char in vowels]
print("Vowels in String:", found_vowels)

char_count = len(Str)
print("Total Number of Characters:", char_count)

Reversed String: artsaraham ,rupalos ,ygolonhceT fo etutitsnI dnahclaW
Even Part Reversed: Walchand Institute of Technology, solapur, maharastra
Odd Part Reversed: Walchand Institute of Technology, solapur, maharastra
Split Words: ['Walchand', 'Institute', 'of', 'Technology,', 'solapur,', 'maharastra']
Vowels in String: ['a', 'a', 'I', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u', 'a', 'a', 'a', 'a']
Total Number of Characters: 53

In [54]:
Str = "Walchand Institute of Technology, solapur, maharastra"

reverse = ""
for char in Str:
    reverse = char + reverse
print("Reversed String:", reverse)

even_reverse = ""
for i in range(len(Str)):
    if i % 2 != 0:
        even_reverse += Str[i]  
    else:
        even_reverse += Str[i]  
print("Even Part Reversed:", even_reverse)

odd_reverse = ""
for i in range(len(Str)):
    if i % 2 == 0:
        odd_reverse += Str[i]  
    else:
        odd_reverse += Str[i]  
print("Odd Part Reversed:", odd_reverse)

split_words = []
word = ""
for char in Str:
    if char != " ":
        word += char
    else:
        split_words.append(word)
        word = ""
if word:  # Append the last word
    split_words.append(word)
print("Split Words:", split_words)

vowels = "AEIOUaeiou"
found_vowels = []
for char in Str:
    if char in vowels:
        found_vowels.append(char)
print("Vowels in String:", found_vowels)

char_count = 0
for char in Str:
    char_count += 1
print("Total Number of Characters:", char_count)

Reversed String: artsaraham ,rupalos ,ygolonhceT fo etutitsnI dnahclaW
Even Part Reversed: Walchand Institute of Technology, solapur, maharastra
Odd Part Reversed: Walchand Institute of Technology, solapur, maharastra
Split Words: ['Walchand', 'Institute', 'of', 'Technology,', 'solapur,', 'maharastra']
Vowels in String: ['a', 'a', 'I', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u', 'a', 'a', 'a', 'a']
Total Number of Characters: 53

In [3]:
def is_prime(n):
    if n < 2:
        return False  
    
    i = 2  
    while i * i <= n: 
        if n % i == 0:
            return False 
        i += 1
    else:
        return True

text = int(input("Enter a number: "))
if is_prime(text):
    print(f"{text} is a prime number")
else:
    print(f"{text} is not a prime number")

Enter a number:  4

4 is not a prime number

In [ ]:
#prime number using while loop and function
def is_prime(n):
    if n < 2:
        return False  
    
    i = 2  
    while i * i <= n: 
        if n % i == 0:
            return False 
        i += 1
    else:
        return True

text = int(input("Enter a number: "))
if is_prime(text):
    print(f"{text} is a prime number")
else:
    print(f"{text} is not a prime number")

In [5]:
#armstrong no using while loop and function

def is_armstrong(n):
    original = n 
    total = 0
    num_digits = len(str(n))

    while n > 0:
        digit = n % 10 
        total += digit ** num_digits 
        n //= 10
    2
    return total == original

num = int(input("Enter a number: "))

if is_armstrong(num):
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Enter a number:  453

453 is NOT an Armstrong number

In [12]:
#fibonacci series
def fibonacci(n):
    a, b = 0, 1  
    print("Fibonacci series:", end=" ")

    count = 0 
    while count < n:
        print(a, end=" ")  
        a, b = b, a + b
        count += 1
    print() 

num = int(input("Enter the number of terms: "))

fibonacci(num)

Enter the number of terms:  8

Fibonacci series: 0 1 1 2 3 5 8 13

In [16]:
#even odd

def evenodd(number):
    if number%2==0:
        print("number is even")
    else:
        print("number is odd")
number=int (input("Enter number"))

evenodd(number)

Enter number 3

number is odd

In [18]:
#count using while loop
def count_up_to(n):
    i = 1  
    while i <= n:
        print(i, end=" ")
        i += 1 
num = int(input("Enter the number to count up to: "))
count_up_to(num)

Enter the number to count up to:  5

1 2 3 4 5

In [19]:
def reverse_number(n):
    rev = 0
    while n > 0:
        digit = n % 10
        rev = rev * 10 + digit
        n //= 10
    return rev
num = int(input("Enter a number: "))
print(f"Reversed number: {reverse_number(num)}")

Enter a number:  123

Reversed number: 321

In [3]:
class car:

    def __init__(self,modelname,year):
        self.modelname=modelname
        self.year=year

    def display(self):
        print(self.modelname,self.year)

c1=car('Toyoto',2020)
c1.display()

Toyoto 2020

In [5]:
class vehicle:

    def __init__(self,model,year):
        self.model=model
        self.year=year

    def display(self):
        print(self.model,self.year)

v1=vehicle('splender',2000)
v1.display()

splender 2000

In [15]:
class Library:
    def __init__(self):
        self.books = [] 

    def add_book(self, title):
        self.books.append(title)
        print(f' "{title}" has been added to the library.')

    def remove_book(self, title):
        if title in self.books:
            self.books.remove(title)
            print(f' "{title}" has been removed from the library.')
        else:
            print(f' "{title}" is not in the library.')

    def list_books(self):
        if self.books:
            print("\nCurrent Books in the Library:")
            for index, book in enumerate(self.books, start=1):
                print(f"{index}. {book}")
        else:
            print("The library is empty.")

library = Library()

library.add_book("The Great Gatsby")
library.add_book("To Kill a Mockingbird")
library.add_book("2000")

library.list_books()

library.remove_book("2000")

library.list_books()

 "The Great Gatsby" has been added to the library.
 "To Kill a Mockingbird" has been added to the library.
 "2000" has been added to the library.

Current Books in the Library:
1. The Great Gatsby
2. To Kill a Mockingbird
3. 2000
 "2000" has been removed from the library.

Current Books in the Library:
1. The Great Gatsby
2. To Kill a Mockingbird